<% provide(:title, "Detail Author") %>
<h1><%= @author.name %></h1>

<div class="pull-right">
  <%= link_to 'Edit', edit_author_path(@author), :class => "btn btn-primary" %>
</div>

<p><b>Records:</b> <%=@author.records.length %></p>

<table class="table table-striped" summary="Author Records List">
  <tr class="header">
    <th>Name</th>
    <th>Year</th>
    <th>Tracks</th> 
    <th></th>
  </tr>

  <% if @author.records %>
    <% @author.records.each do |record| %>
      <tr>
        <td><%= record.name %></td>
        <td><%= record.year %></td>
        <td><%= record.songs.length %></td>
        <td>
          <%= link_to "Detail", record_path({id: record.id}), :class => "btn btn-primary" %>
          <%= link_to "Edit", edit_record_path({id: record.id}), :class => "btn btn-primary" %>
          <%= link_to "Delete", record_path({id: record.id}), :method => "delete", :class => "btn btn-primary" %>
        </td>
      <tr>
    <% end %>
  <% end %>
</table>