<%= form_for(@record) do |form| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Author: <%= form.collection_select :author_id, Author.where(user_id: current_user.id).order(:name), :id, :name, {:include_blank => 'Existing authors'} %></p>
  <p>Name: <%= form.text_field :name %></p>
  <p>Year: <%= form.text_field :year %></p>
  <p>Tracks: <%= form.text_field :tracks %></p>

  <%= form.submit %>
<% end %>