<%= form_for([@record, @song]) do |form| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Track Number: <%= form.text_field :track_number %>
  <p>Name: <%= form.text_field :name %></p>
  <p>Duration: <%= form.text_field :duration%></p>

  <%= form.submit %>
<% end %>